<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div id="error-404-page">
        <h3>404</h3>
        <h3>The page you requested doesn't exist</h3>
        <p>Check the address bar to make sure you're requesting a valid page</p>
        <img src="https://media.tenor.com/PPOe9MawAvsAAAAd/404-not-found.gif" alt="404 Page Not Found">
    </div>
    <%- include('./partials/footer') %>
</body>
</html>