<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1>ANIDEX</h1>
        <div class="content-container">
            <!-- place carousel here-->
            <h2>PICTURES HERE</h2>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>