<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="index-container">
        <main>
            <h2>Welcome to ANIDEX</h2>
            <div class="content-container">
                <!-- place carousel here-->
                <h2>PICTURES HERE</h2>
            </div>
        </main>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>