<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <h2>Welcome to My Anime List</h2>
        <div class="content-container">
            <!-- place carousel here-->
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>