body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 8vh); /* Subtracting the height of the navbar */
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
}

nav > a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5D4954;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h2 {
    color: #333;
}

/* Add some hover effects for the navigation links */
nav > a:hover {
    color: #50fa7b;
    transition: color 0.3s ease;
}
