@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Bruno Ace', cursive;
    text-align: center;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: calc(100vh - 8vh); Subtracting the height of the navbar */
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    color: white;
    width: 100%;
    position: relative;
    top: 0;
}

nav > a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
}
#new-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

#new-form label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#new-form input, #new-form select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
}

#delete-button-content {
    padding: 10px 20px;
    background-color: #5D4954;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button {
    padding: 10px 20px;
    background-color: #5D4954;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: mediumturquoise;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5D4954;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h2 {
    color: #333;
}

/* Add some hover effects for the navigation links */
nav > a:hover {
    color: aqua;
    transition: color 0.3s ease;
}

.name-one {
    padding-right: 15vmin;
}

#anime-notes-table {
    display: grid;
    justify-content: center;
    text-align: center;
}